# Dependencies
node_modules/

# Build
dist/
.astro/

# Env / secrets
.env
.env.*
!.env.example

# Logs & OS
*.log
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Local tooling
*.local
.deploy-codeberg-*/
.deploy-github-*/

.vercel

# Local Netlify folder
.netlify

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
*.cache
